body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    padding: 30px;
    display: flex;
    justify-content: center;
    }

.container {
    width: 750px;
    background: #fff;
    border: 1px solid #ddd;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 50px;
    }

nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #444;
    font-weight: bold;
    }

h1, h2, h3 {
    margin-top: 0;
    }

p {
    font-size: 14px;
     color: #555;
    }

/* tabel */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 14px;
    }

table, td, th {
            border: 1px solid #bbb;
        }

        td, th {
            padding: 10px;
        }

        th {
            background: #f3f3f3;
            width: 180px;
            text-align: left;
        }

        /* form */
        input, textarea {
            width: 100%;
            padding: 10px;
            margin: 8px 0 15px 0;
            border: 1px solid #bbb;
            border-radius: 6px;
        }

        textarea {
            height: 120px;
        }

        button {
            padding: 10px 20px;
            border: 1px solid #bbb;
            background: #eee;
            cursor: pointer;
            border-radius: 5px;
        }

        footer {
            margin-top: 20px;
            font-size: 13px;
            color: #666;
        }

        .kembali {
            display: inline-block;
            margin-top: 10px;
            font-size: 14px;
        }

        .foto {
            width: 200px;
            border: 1px solid #ccc;
            border-radius: 6px;
            overflow: hidden;
        }

        .foto img {
            width: 100%;
            display: block;
        }

        /* layout konten tentang */
        .row {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        .text {
            width: 60%;
        }